/* remove browser style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* overflow: hidden; */
  color: var(--primary700);
}
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap");
/* setup variables */
:root {
  /* black*/
  --primary500: #0e171e;
  /* grey */
  --primary200: #3e454b;
  /* blacker */
  --primary700: #080e12;
  /* white */
  --secondary500: #d3d2d0;
  --secondary200: #e5e4e3;
  /* light grey */
  --secondary700: #7f7e7d;
  /* red */
  --tertiary500: #a00004;
  --tertiary200: #b33336;
  --tertiary700: #600002;
  /* nav background */
  --navColor: #0b1218;
}
/* set font */
body {
  font-family: "Kaisei Tokumin", serif;
}
/* navbar */
.logo {
  width: 250px;
  position: relative;
  top: -45px;
  left: 0;
}
nav {
  width: 100%;
  height: 80px;
  background: var(--tertiary500);
}
nav ul {
  float: right;
  margin: 0 20px;
}
nav ul li {
  display: inline-block;
  margin: 0 5px;
  line-height: 80px;
}
nav ul li a {
  color: var(--primary700);
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 5px;
  transition: all 0.5s;
}
/* global link hover color */
a:hover {
  color: var(--primary200);
}
li a:hover {
  background: var(--tertiary200);
}
.checkbtn {
  font-size: 30px;
  color: var(--primary500);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.background {
  background: var(--secondary200);
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* main head */
#main-head {
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 80px auto -10px auto;
}

.main-underline {
  margin: 50px auto;
  width: 20%;
  height: 5px;
  border-radius: 10px;
  background: var(--tertiary700);
}
/* form */
.form-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  background: var(--secondary500);
}
.form-wrapper {
  margin-bottom: 3em;
  border: var(--primary200) 3px solid;
  border-radius: 5px;
}
.form-row {
  margin: 1em auto;
}
.form-label {
  display: block;
  text-align: center;
  margin: 1em auto;
  font-size: 0.9em;
  color: var(--primary700);
}
.form-input {
  display: block;
  margin: 1em auto;
  border: var(--tertiary500) 2px solid;
  border-radius: 5px;
}
.form-textarea {
  display: block;
  margin: 1em auto;
  border: var(--tertiary500) 2px solid;
  border-radius: 5px;
  width: 95%;
  height: 50%;
}
.submit-btn {
  display: block;
  margin: 2em auto;
  background: var(--secondary200);
  border: var(--tertiary500) 2px solid;
  width: 7em;
  height: 5em;
  border-radius: 5px;
}
.form-container:hover {
  background: rgba(0, 0, 0, 0, 0.1);
}
.form-input:hover {
  background: rgba(0, 0, 0, 0.3);
}
.form-textarea:hover {
  background: rgba(0, 0, 0, 0.3);
}
.submit-btn:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.underline {
  margin: 5px auto;
  width: 25%;
  height: 5px;
  border-radius: 10px;
  background: var(--tertiary700);
}
/* footer */
footer {
  width: 100%;
  height: 8vh;
  background: var(--secondary200);
  color: var(--primary500);
  border: var(--primary700) double 3px;
}
footer h5 {
  float: left;
  line-height: 45px;
  padding-left: 5px;
}
footer h6 {
  float: right;
  line-height: 45px;
  padding-right: 5px;
}
/* Main above */
/* Responsive below */
@media (max-width: 952px) {
  .logo {
    width: 225px;
    position: absolute;
    top: -34px;
  }
  nav ul li a {
    font-size: 20px;
  }

  footer {
    font-size: 3vw;
  }
}

@media (max-width: 658px) {
  .checkbtn {
    display: block;
  }
  /* nav {
    position: fixed;
    z-index: 1;
  } */
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--navColor);
    top: 80px;
    left: -105%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: var(--secondary500);
    border-bottom: var(--tertiary500) solid 3px;
  }
  li a:hover {
    background: var(--tertiary500);
    color: var(--primary700);
  }
  #check:checked ~ ul {
    left: -20px;
  }
}
